<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="Console" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>[%d{ISO8601}] [%p] [%t] [%c] %m%n</pattern>
        </encoder>
    </appender>

    <variable name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}"/>
    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="Console"/>
    </root>
</configuration>
